" Plug plugin manager for Vim
" Silent is set to avoid a warning on machines without git
silent! call plug#begin('~/.vim/plugged')
Plug 'vim-airline/vim-airline'
Plug 'tpope/vim-fugitive'
Plug 'pangloss/vim-javascript'
Plug '2072/PHP-Indenting-for-VIm'
Plug 'mipmip/vim-fluid'
Plug 'morhetz/gruvbox'
Plug 'elmar-hinz/vim.typoscript'
Plug 'posva/vim-vue'
" Snippets
Plug 'MarcWeber/vim-addon-mw-utils'
Plug 'tomtom/tlib_vim'
Plug 'garbas/vim-snipmate'
Plug 'honza/vim-snippets'
Plug '~/.vim/plugged/mysnippets'
call plug#end()

" Trigger configuration. Do not use <tab> if you use https://github.com/Valloric/YouCompleteMe.
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsJumpForwardTrigger="<c-b>"
let g:UltiSnipsJumpBackwardTrigger="<c-z>"

set number " Display line number
syntax on " Syntax coloration
" Tabulation
set tabstop=4
set shiftwidth=4
set expandtab

" Colorscheme settings
colorscheme gruvbox
set background=dark
let g:gruvbox_contrast_dark='hard'

set ic " Insensitive case search (Warn : also active using the search & replace functionality)

set laststatus=2 " Keep status always on 
set encoding=utf-8 " Open all files as utf-8
set t_Co=256 " Tell vim he can use 256 terminal colors, nothing less ;)

" Setting syntax highlighting for specials files extensions
autocmd BufNewFile,BufRead *.ts   set syntax=typoscript
autocmd BufNewFile,BufRead *.less   set syntax=less
autocmd BufNewFile,BufRead *.html   set syntax=fluid " To use my snippets for the Fluid templating engine 

set clipboard=unnamedplus " Tried to set vim default buffer to the system clipboard but it doesn't work

" Default splits opening below and right
set splitbelow
set splitright

" Remap // in visual mode to search text under the cursor
vnoremap // y/<C-R>"<CR>

" Remap :w< command to :w (common mistake on azerty keyboard)
" command w< w

" Toggle between 2 and 4 spaces indentation & mapping to ctrl + i
let g:indent_spaces = 4
function ToggleIndent()
    if g:indent_spaces == 4
        set tabstop=2
        set shiftwidth=2
        echo "Indentation set to 2 spaces"
    else
        set tabstop=4
        set shiftwidth=4
        echo "Indentation set to 4 spaces"
    endif
endfunction

map <c-i> :call ToggleIndent() <CR>
